VITE_CONTENTSTACK_API_KEY= <your-stack-api-key>
VITE_CONTENTSTACK_DELIVERY_TOKEN= <your-delivery-token>
VITE_CONTENTSTACK_ENVIRONMENT= <your-publishing-environment>

# Below credentials are for Live Preview feature and are mandatory for enabling live preview in your starter app
# Optional if not enabling live preview
VITE_CONTENTSTACK_API_HOST= <your-api-host> #(for NA region 'api.contentstack.io' and for EU region 'eu-api.contentack.com')
VITE_CONTENTSTACK_MANAGEMENT_TOKEN = <your-management-token>
VITE_CONTENTSTACK_APP_HOST= <your-app-host> #(for NA region 'app.contentstack.com' and for EU region 'eu-app.contentstack.com')
VITE_CONTENTSTACK_LIVE_EDIT_TAGS=true
VITE_CONTENTSTACK_LIVE_PREVIEW=true #(will be true by default to disable live preview feature please provide value false)

